/* header */
header {
    background-image: url(../img/pattern.png);
    background-color: #4ea1ff;
    background-attachment: fixed;
    height: 160px;
}

#logo {
    height: 80px;
    margin-top: 70px;
}

/* main */

h1 {
    font-size: 50px;
}

.grigio {
    color: #808080;
}

#blu {
    color: #66b1d3;
}