/* header */
header {
    background-image: url(../img/pattern.png);
    background-color: #4ea1ff;
    background-attachment: fixed;
    height: 160px;
}

#logo {
    height: 80px;
    margin-top: 70px;
}

/* main */

h1 {
    font-size: 50px;
}

.immagini, .testo {
    margin-top: 10px;
}

.grigio {
    color: #808080;
}

#blu {
    color: #66b1d3;
}

.didascalia {
    font-size: 12px;
}

.evidenziato {
    background-color: yellow;
}

/* tabella in main */

table {
    border-collapse: collapse;
}


th {
    background-color: #1eabe2;
    color: white;
    width: 25%;
}

.azzurro-tab {
    background-color: #b1e6f2;
}

/* footer */

footer {
    margin-top: 10px;
}

#testo-footer {
    font-size: 20px;
}

#foto1 {
    background-image: url(../img/monitor.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    height: 250px;
    width: 250px;
    font-size: 25px;
    font-weight: 600;
    padding: 10px;
    margin-top: 10px;
}

#foto2 {
    background-image: url(../img/graph.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    height: 250px;
    width: 250px;
    font-size: 25px;
    font-weight: 600;
    padding: 10px;
    margin-top: 10px;
}
